//COLORS
$background-column: #e8a973;
$background-column2: #cfbcad;

//SOCIAL COLORS
$instagram: #c13584;
$facebook: #3b5998;
$linkedin: #0e86a8;

//FONT STYLES
$family: 'Arial';
$font-color: #000;
$font-color-title: #ff7701;
$color-menu: #0000ff;
$line: 140%;
$color-hover: rgb(65, 64, 64);

